# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [8]:
# Single word
text = 'hello'

In [9]:
print(text)

hello

In [45]:
# 'hello' = text

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3080269168.py, line 1)

In [2]:
lists = [1,2,3,4,5]

In [3]:
max(lists)

5

In [4]:
max = 's'

In [5]:
max

's'

In [6]:
lists

[1, 2, 3, 4, 5]

In [7]:
max(lists)

TypeError: 'str' object is not callable

In [10]:
# Entire phrase 
text = 'This is also a string'

In [11]:
text

'This is also a string'

In [3]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [34]:
print("it\'s")

it's

In [46]:
text_2 = """Strings are used in Python to record text information, such as names.
Strings in Python are actually a *sequence*, 
which basically means Python keeps track of \n  every element in the string as a sequence. 
For example, Python \\ understands the string hello\t to be a sequence of letters in a specific order.
This means we will be able to use indexing to grab particular letters 
(like the first letter, or the last letter)"""

In [47]:
print(text_2)

Strings are used in Python to record text information, such as names.
Strings in Python are actually a *sequence*,
which basically means Python keeps track of
  every element in the string as a sequence.
For example, Python \ understands the string hello	 to be a sequence of letters in a specific order.
This means we will be able to use indexing to grab particular letters
(like the first letter, or the last letter)

In [37]:
"this is \n new line "

'this is \n new line '

In [31]:
print('this is \n new line ')

this is
 new line

In [25]:
"""
long 
text  
in  
python
"""

'\nlong \ntext  \nin  \npython\n'

In [4]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-4-da9a34b3dc31>, line 2)

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [20]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [21]:
'Hello "World'

'Hello "World'

In [22]:
'Hello \"World'

'Hello "World'

In [23]:
print("Hello \" World")

Hello " World

Now let's learn about printing strings!

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [6]:
# We can simply declare a string
'Hello World'

'Hello World'

In [7]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [48]:
print('Hello World 1')
print('Hello World 2')
print('Use \nto print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

In [49]:
len('Hello World')

11

In [50]:
text_3 = 'hello World'

In [52]:
text_3[10]

'd'

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [56]:
# Assign s as a string
text_s = 'Hello World'

In [57]:
#Check
text_s

'Hello World'

In [59]:
# Print the object
print(text_s)

Hello World

Let's start indexing!

In [60]:
# Show first element (in this case a letter)
text_s[0]

'H'

In [62]:
text_s[-11]

'H'

In [63]:
text_s[1]

'e'

In [64]:
text_s[2]

'l'

In [65]:
text_s

'Hello World'

In [69]:
text_s[0] + text_s[1] + text_s[2]+ text_s[3] + text_s[4]

'Hello'

In [73]:
text_s[6:]

'World'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [16]:
# Grab everything past the first term all the way to the length of s which is len(s)
text_s[1:]

'ello World'

In [17]:
# Note that there is no change to the original s
s

'Hello World'

In [18]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [74]:
#Everything
text_s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [20]:
# Last letter (one index behind 0 so it loops back around)
text_s[-1]

'd'

In [76]:
# Grab everything but the last letter
text_s[:-2]

'Hello Wor'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [22]:
# Grab everything, but go in steps size of 1
text_s[::1]

'Hello World'

In [77]:
# Grab everything, but go in step sizes of 2
text_s[::2]

'HloWrd'

In [79]:
# We can use this to print a string backwards
print( text_s[::-1])
print(text_s)

dlroW olleH
Hello World

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [81]:
text_s

'Hello World'

In [82]:
# Let's try to change the first letter to 'x'
text_s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [27]:
text_s

'Hello World'

In [28]:
# Concatenate strings!
text_s + ' concatenate me!'

'Hello World concatenate me!'

In [83]:
first = 'sajjad'
last = "esmaili"
print(first)
print(last)

sajjad
esmaili

In [84]:
print(type(first))
print(type(last))

<class 'str'>
<class 'str'>

In [87]:
first + " " + last

'sajjad esmaili'

In [90]:
print(type( 10))

<class 'int'>

In [89]:
first + 10  #????

TypeError: can only concatenate str (not "int") to str

In [97]:
# We can reassign s completely though!
s_1 = s + ' concatenate me!'

In [98]:
print(s)

Hello World concatenate me! concatenate me!

In [31]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [99]:
letter = 'z'

In [100]:
letter

'z'

In [101]:
letter + 1

TypeError: can only concatenate str (not "int") to str

In [102]:
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [104]:
text_s

'Hello World'

In [105]:
# Upper Case a string
text_s.upper()

'HELLO WORLD'

In [107]:
# Lower case
'Hello World'.lower()

'hello world'

In [110]:
# Split a string by blank space (this is the default)
text_4 = "Here are some examples of built-in methods in strings"
print(text_4)

Here are some examples of built-in methods in strings

In [111]:
text_4.split()

['Here',
 'are',
 'some',
 'examples',
 'of',
 'built-in',
 'methods',
 'in',
 'strings']

In [115]:
# Split by a specific element (doesn't include the element that was split on)
print(text_4)
text_4.split('s')

Here are some examples of built-in methods in strings

['Here are ', 'ome example', ' of built-in method', ' in ', 'tring', '']

There are many more methods than the ones covered here. Visit the Advanced String section to find out more!

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [39]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

In [181]:
name = "Ali"
age = 100
text_name_age = name + ' '+'is '+ age +" "+ 'years old.'
print(text_name_age)

TypeError: can only concatenate str (not "int") to str

In [183]:
name = "Ali"
age = 100
text_name_age = name + ' '+'is '+ str(age) +" "+ 'years old.'
print(text_name_age)

Ali is 100 years old.

In [184]:
print(age)
print(type(age))

100
<class 'int'>

In [185]:
print(str(age))
print(type(str(age)))

100
<class 'str'>

In [187]:
name = "Ali"
age = 100
text_name_age = f'{name} is {age} years old.'
print(text_name_age)

Ali is 100 years old.

We will revisit this string formatting topic in later sections when we are building our projects!

In [130]:
text = "PYTHoN3"

In [131]:
text

'PYTHoN3'

In [132]:
text.capitalize()

'Python3'

In [19]:
text_2 = "pythonLrean"

In [20]:
text_2.capitalize()

'Pythonlrean'

'PYTHONlREAN'

In [21]:
text = "python3"

In [189]:
text_4 = 'statistics'

In [190]:
text_4.count('t')

3

In [134]:
text

'PYTHoN3'

In [135]:
text.find('r')

-1

In [191]:
text.find('P')

0

In [192]:
text.find('Y')

1

In [193]:
text.find('H')

3

In [194]:
text.find('h')

-1

In [142]:
ch_find = 'r'
ind = text.find(ch_find)
ind

-1

In [195]:
text

'PYTHON3'

In [196]:
text

'PYTHON3'

In [197]:
ch_find

'r'

In [144]:
text[ind] == ch_find

False

In [145]:
text

'PYTHoN3'

In [147]:
text.find('P')

0

In [150]:
text[text.find('P')] =='P'

True

In [174]:
text.find('P')

0

In [177]:
text.find('h')

-1

In [154]:
text = text.upper()

In [198]:
text

'PYTHON3'

In [199]:
text.index('T')

2

In [157]:
text.isnumeric()

False

In [158]:
'110'.isnumeric()

True

In [32]:
'AiandDatamining'.replace("A","B")

'BiandDatamining'

In [200]:
'BiandDatamining'.partition("and")

('Bi', 'and', 'Datamining')

In [159]:
"GoooooodDay".rfind("o") #count

6

In [37]:
"GooooodDay".find("o") #index

1

In [202]:
'18192023'.zfill(20)

'00000000000018192023'

In [165]:
text_final = '    text in class   '

In [166]:
text_final

'    text in class   '

In [168]:
lists = text_final.split()

In [170]:
lists[0] +" "+ lists[1] +" " + lists[2]

'text in class'

In [171]:
text_final.strip()

'text in class'

In [172]:
'    text    '.rstrip()

'    text'

In [203]:
int('00181920')

181920

## Next up: Lists!