In [7]:

input_string = "HelLo WorLd"

uppercase_count = 0 
lowercase_count = 0 

for char in input_string:
    if char.isupper():
        uppercase_count += 1
    elif char.islower():
        lowercase_count += 1

print(f"تعداد حروف بزرگ: {uppercase_count}")
print(f"تعداد حروف کوچک: {lowercase_count}")

تعداد حروف بزرگ: 4
تعداد حروف کوچک: 6

In [8]:
my_word = "HelLo WorLd"
lower_count = sum(map(str.islower, my_word))
print("count lower character: " , lower_count)


upper_count = sum(map(str.isupper, my_word))
print("count lower character: " , upper_count)

count lower character:  6
count lower character:  4

In [13]:
word = "HelLo WorLd"
u = len([x for x in word if x.isupper()])
l = len([x for x in word if x.islower()])
print(f'Lower :{l} , upper: {u}')

Lower :6 , upper: 4

In [14]:
Q2 :

SyntaxError: invalid syntax (2168213131.py, line 1)

In [31]:
students_data = {
    "sajjad" : {"numer":1 , "name": 'sajjad' , "avg" :"50" , "Study" : "statistics"},
    "hesam" : {"numer":2 , "name": 'hesam' , "avg" :"20" , "Study" : "mathematical"},
    "nima" : {"numer":3 , "name": 'nima' , "avg" :"23" , "Study" : "physics"}
    
}


name = 'sajjad'

students_data[name]

{'numer': 1, 'name': 'sajjad', 'avg': '50', 'Study': 'statistics'}

In [57]:
numbers_str = "1,2,3,4,5,6,7,8,9,10"
numbers_tuple = tuple(numbers_list)

even_count = sum(1 for num in numbers_tuple if num % 2 == 0)

odd_count = sum(1 for num in numbers_tuple if num % 2 != 0)

print("count odd:" , even_count ,'\ncount even:' , odd_count)

count odd: 5
count even: 5

In [53]:
# 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97





# گرفتن عدد از ورودی
num = 10

# بررسی آیا عدد اول است یا خیر
if num < 2:
    print(f"{num} یک عدد اول نیست.")
else:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{num} یک عدد اول است.")
    else:
        print(f"{num} یک عدد اول نیست.")

10 یک عدد اول نیست.

In [54]:
#test

In [90]:

def count_oddandeven(mytuple):
    countodd=0
    counteven=0
    for i in mytuple:
        if int(i) %2==0:
            counteven += 1

        else:
            countodd += 1
    print("counteven:",counteven,"countodd:",countodd)
    
input_list = input("inter number: ")
num = tuple(input_list.split(','))
count_oddandeven(num)

In [1]:

Mydic= {"Name": ["Hamed","Ali","Nima"],
        "Family": ["jafari","heydari","mokhtari"],
        "Age": [23,35,26,20],
        "Major":["computer","Riazi","Shimi","physic"]
}

myname=input(f'choes in {Mydic["Name"]} :')
if myname in Mydic["Name"]:
    idx = Mydic["Name"].index("Hamed")
    
    Name = Mydic["Name"][idx]
    Family = Mydic["Family"][idx]
    Age = Mydic["Age"][idx]
    Major = Mydic["Major"][idx]
    print(f'Frsit name is {Name} and last name is {Family} and {Age} years old and Major {Major} ' )

choes in ['Hamed', 'Ali', 'Nima'] :

In [8]:
name = 'Sajjad Esmaili'

In [19]:
n

14

In [23]:
n=len(name)
big = 0
low = 0
other = 0

In [24]:
for i in range(0,n,1):
    if name[i].islower() == True :
        low+=1
    elif name[i].isupper() == True :
        big+=1
    else:
        other +=1
    
print("upper=",big)
print("lower=",low)
print(f"other={other}")

upper= 2
lower= 11
other=1

In [11]:
" ".islower()

False

In [12]:
" ".isupper()

False

In [13]:
i = 0 
name[i]

'S'

In [37]:
student={
    "Azadeh":{"name":"Azadeh","Age":18,"Study":["Software","Data"]},
     "Sajad":{"name":"Sajad","Age":16,"Study":"Data"},
     "Hamid":{"name":"Hamid","Age":16,"Study":"Software"}

}

In [38]:
print(student)

{'Azadeh': {'name': 'Azadeh', 'Age': 18, 'Study': ['Software', 'Data']}, 'Sajad': {'name': 'Sajad', 'Age': 16, 'Study': 'Data'}, 'Hamid': {'name': 'Hamid', 'Age': 16, 'Study': 'Software'}}

In [39]:
st =list(student.keys())
st

['Azadeh', 'Sajad', 'Hamid']

In [42]:
name="nasir"
if name in st:
    print(student[name])
if name not in st:
    print("مدیر هستن تو کلاس نیستن")

مدیر هستن تو کلاس نیستن