# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [1]:
dict([('amin', 4139), ('roz', 4127), ('hadi', 4098)])

{'amin': 4139, 'roz': 4127, 'hadi': 4098}

In [2]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [3]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [4]:
# Call values by their key
my_dict['key2']

'value2'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [5]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [6]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [7]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [8]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

We can affect the values of a key as well. For instance:

In [9]:
my_dict['key1']

123

In [10]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [11]:
#Check
my_dict['key1']

0

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [12]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [13]:
# Create a new dictionary
d = {}

In [14]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [15]:
# Can do this with any object
d['answer'] = 42

In [16]:
#Show
d

{'animal': 'Dog', 'answer': 42}

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [17]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

Wow! That's a quite the inception of dictionaries! Let's see how we can grab that value:

In [18]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [19]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [20]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [21]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [22]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

Hopefully you now have a good basic understanding how to construct dictionaries. There's a lot more to go into here, but we will revisit dictionaries at later time. After this section all you need to know is how to create a dictionary and how to retrieve values from it.

## len Dictionaries

In [23]:
print(len(d))

3

In [24]:
type(d)

dict

In [25]:
a = {1,2}
b = {2,3}

print(a)
print(b)

{1, 2}
{2, 3}

In [26]:
a - b

{1}

In [27]:
a & b

{2}

In [28]:
a | b

{1, 2, 3}

In [29]:
a ^ b

{1, 3}

In [30]:
numbers = {1,2,3,4,5,6,7,8,9}

In [31]:
min(numbers)

1

In [32]:
max(numbers)

9

In [33]:
sum(numbers)

45

In [34]:
numbers = {-1,2,3,-3,4}

In [35]:
"{x}{y}".format(y = 2 , x = 1)

'12'

In [36]:
"{x}{y}".format_map( y = 3 , x = 1)

TypeError: format_map() takes no keyword arguments

In [37]:
"{x}{y}".format_map( {"x" :1, "y" :3 })

'13'

In [38]:
exp = {'Ali':20, "Sajjad" : 15 , "Bita" : 18 , "Hoseein" : None }

In [39]:
exp.keys()

dict_keys(['Ali', 'Sajjad', 'Bita', 'Hoseein'])

In [40]:
exp.values()

dict_values([20, 15, 18, None])

In [41]:
exp

{'Ali': 20, 'Sajjad': 15, 'Bita': 18, 'Hoseein': None}

In [42]:
del exp['Hoseein']

In [43]:
exp

{'Ali': 20, 'Sajjad': 15, 'Bita': 18}

In [44]:
list(exp.items())

[('Ali', 20), ('Sajjad', 15), ('Bita', 18)]

In [45]:
list(exp)

['Ali', 'Sajjad', 'Bita']

In [46]:
list(exp.values())

[20, 15, 18]

In [47]:
sorted(exp)

['Ali', 'Bita', 'Sajjad']

In [48]:
exp

{'Ali': 20, 'Sajjad': 15, 'Bita': 18}

In [49]:
sorted(exp.values())

[15, 18, 20]

In [50]:
exp

{'Ali': 20, 'Sajjad': 15, 'Bita': 18}

In [51]:
'Ali' in exp

True

In [52]:
'Samira' in exp

False

In [53]:
'Samira' not in exp

True

In [54]:
exp.get("Ali")

20

In [55]:
exp

{'Ali': 20, 'Sajjad': 15, 'Bita': 18}

In [56]:
exp.pop('Ali')

20

In [57]:
exp

{'Sajjad': 15, 'Bita': 18}

In [58]:
exp["keys"] = 10

In [59]:
exp

{'Sajjad': 15, 'Bita': 18, 'keys': 10}

In [60]:
exp["Bita"] = 10

In [61]:
exp

{'Sajjad': 15, 'Bita': 10, 'keys': 10}

In [62]:
key = 'new_key'
values_dic = 1000
if key not in exp :
    exp[key] = values_dic
    print('add to the dic')
else : 
    print('could not add to the dic')

add to the dic

In [63]:
exp

{'Sajjad': 15, 'Bita': 10, 'keys': 10, 'new_key': 1000}

In [64]:
key = 'new_key'
values_dic = 1000
if key not in exp :
    exp[key] = values_dic
else : 
    print('I could not add to the dic')

I could not add to the dic